html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #464545;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
#main-header .container{
    height: 800px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
#main-header img{
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
#main-header .logo{
    margin-top: 68px;
    margin-left: -1px;
    display: inline-block;
    position: relative;
    height: 273px;
    width: 273px;
}
#main-header .text a{
    position: relative;
    display: inline-block;
    width: 720px;
    font-size: 49.35px;
    text-decoration: none;
    color: #ffffff;
}
#main-header .text-top{
    margin-top: 69px;
    text-align: center;
    font-family: 'Open Sans Regular';
}
#main-header .text-bottom{
    margin-top: 15px;
    text-align: center;
    font-family: 'Open Sans Bold';
}
.zip-code-container {
    position: relative;
}
.zip-code{
    position: absolute;
    top: -222px;
    left: 0;
    right: 0;
    text-align: center;
    width: 334px;
    margin: 0 auto;
    padding-top: 1px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px #b4adad;;
}
.input-border{
    font-family: 'Open Sans Regular';
    color: #b4adad;
    display: block;
    width: 265px;
    height: 33px;
    border-radius: 2px;
    box-shadow: 0px -0.5px 1px 0px #e5e5e5;;
    border: 1px solid #e5e5e5;
    margin-left: 33px;
    margin-top: 30px;
    padding-left: 16px;
    font-size: 15.35px;
}
input::placeholder {
    color: #b4adad;
}
.photo-zip-code{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 23px;
    height: 87px;
    margin-bottom: 20px;
}
.photo-zip-code img{
    overflow: unset;
    overflow: hidden;
}
.text-zip-code{
    width: 250px;
    margin-top: 27px;
    margin: 27px auto 0;
    text-align: center;
}
.text-zip-code span{
    font-family: 'Open Sans Regular';
    text-decoration: none;
    color: #938e8e;
    position: relative;
    font-size: 15.35px;
    width: 200px;
    line-height: 19px;
}
.more-button{
    font-size: 25.65px;
    font-family: 'Open Sans SemiBold';
    display: inline-block;
    color: #ffffff;
    background-color: #227dd3;
    width: 192px;
    height: 45px;
    margin-top: 21px;
    margin-bottom: 28px;
    border: none;
}
.bloc1{
    background-color: #ffffff;
    padding-top: 170px;
}
.bloc1-content{
    margin-left: auto;
    margin-right: auto;
    width: 880px;
    display: flex;
    justify-content: space-between;
}
.bloc1-group{
    display: flex;
    flex-basis: 415px;
}
.bloc1-group img{
    margin-right: 30px;
}
.bloc1-content .title{
    font-size: 27.35px;
    font-family: 'Open Sans SemiBold';
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 9px;
}
.bloc1-content .content{
    font-size: 14px;
    font-family: 'Open Sans Regular';
    text-decoration: none;
    color: #666666;
    line-height: 22px;
}
.bloc1-content .bloc1-text{
    padding-right: 8px;
}