@import "./media-queries";
html,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
  @include respond-below(lg) {
    width: 100%;
    max-width: 1280px;
  }
}
#main-header {
  .container {
    height: 800px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
  }
  .logo {
    margin-top: 68px;
    margin-left: -1px;
    display: inline-block;
    position: relative;
    height: 273px;
    width: 273px;
    @include respond-below(sm) {
      height: 136px;
      width: 136px;
    }
  }
  .text a {
    position: relative;
    display: inline-block;
    width: 720px;
    font-size: 49.35px;
    text-decoration: none;
    color: #ffffff;
    @include respond-below(sm) {
      font-size: 34.35px;
      width: 474px;
    }
  }
  .text-top {
    margin-top: 69px;
    text-align: center;
    font-family: "Open Sans Regular";
  }
  .text-bottom {
    margin-top: 15px;
    text-align: center;
    font-family: "Open Sans Bold";
  }
}
.zip-code {
  &-container {
    position: relative;
  }
  position: absolute;
  top: -222px;
  left: 0;
  right: 0;
  text-align: center;
  width: 334px;
  margin: 0 auto;
  padding-top: 1px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px #b4adad;
  @include respond-below(xs) {
    width: 100%;
    box-shadow: none;
  }
  .input-border {
    font-family: "Open Sans Regular";
    color: #b4adad;
    display: block;
    width: 265px;
    height: 33px;
    border-radius: 2px;
    box-shadow: 0px -0.5px 1px 0px #e5e5e5;
    border: 1px solid #e5e5e5;
    margin-left: 33px;
    margin-top: 30px;
    padding-left: 16px;
    font-size: 15.35px;
    @include respond-below(xs) {
      margin-bottom: 23px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
input::placeholder {
  color: #b4adad;
}
.photo-zip-code {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 23px;
  height: 87px;
  margin-bottom: 20px;
  @include respond-below(xs) {
    width: 334px;
    margin: 0 auto;
  }
  img {
    overflow: hidden;
  }
}
.text-zip-code {
  width: 250px;
  margin-top: 27px;
  margin: 27px auto 0;
  text-align: center;
  span {
    font-family: "Open Sans Regular";
    text-decoration: none;
    color: #938e8e;
    position: relative;
    font-size: 15.35px;
    width: 200px;
    line-height: 19px;
  }
}
.more-button {
  font-size: 25.65px;
  font-family: "Open Sans SemiBold";
  display: inline-block;
  color: #ffffff;
  background-color: #227dd3;
  width: 192px;
  height: 45px;
  margin-top: 21px;
  margin-bottom: 28px;
  border: none;
  &:active {
    opacity: 0.6;
  }
}
.bloc1 {
  background-color: #ffffff;
  padding-top: 170px;
  padding-bottom: 101px;
  &-content {
    margin-left: auto;
    margin-right: auto;
    width: 880px;
    display: flex;
    justify-content: space-between;
    @include respond-below(md) {
      flex-direction: column;
      width: 400px;
    }
  }
  &-group {
    display: flex;
    flex-basis: 415px;
    @include respond-below(md) {
      flex-basis: 200px;
    }
    img {
      margin-right: 30px;
      height: 100%;
    }
  }
  &-content {
    .title {
      font-size: 27.35px;
      font-family: "Open Sans SemiBold";
      text-decoration: none;
      color: #000000;
      margin-bottom: 10px;
      margin-top: 9px;
    }
    .content {
      font-size: 14px;
      font-family: "Open Sans Regular";
      text-decoration: none;
      color: #666666;
      line-height: 23px;
    }
    .bloc1-text {
      padding-right: 8px;
    }
  }
}
#bloc2 {
  .container {
    position: relative;
    overflow: hidden;
  }
  .bg-1 {
    position: absolute;
    width: 100%;
    height: 874px;
    background-color: #5fc18b;
    @include respond-below(sm) {
      background-color: #44a36f;
      height: 100%;
    }
  }
  .bg-2 {
    position: absolute;
    width: 100%;
    top: 874px;
    height: 677px;
    background-color: #44a36f;
    @include respond-below(sm) {
      display: none;
    }
  }
  .bloc2-background {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    top: 546px;
    @include respond-below(sm) {
      display: none;
    }
  }
  .top-bloc2 {
    padding-top: 277px;
    position: relative;
    width: 658px;
    margin-left: auto;
    margin-right: auto;
    @include respond-below(sm) {
      width: 100%;
      padding-top: 170px;
    }
    img {
      position: absolute;
      top: 87px;
      left: -106px;
      @include respond-below(sm) {
        display: none;
      }
    }
  }
  .bottom-bloc2 {
    position: relative;
    margin-top: 360px;
    width: 859px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 102px;
    @include respond-below(sm) {
      width: 100%;
      margin-top: 140px;
    }
    img {
      position: absolute;
      margin-left: -210px;
      margin-top: 7px;
      @include respond-below(sm) {
        display: none;
      }
    }
  }
  .text-bloc2-top {
    position: relative;
    width: 658px;
    line-height: 23px;
    margin-left: auto;
    margin-right: auto;
    @include respond-below(sm) {
      width: 480px;
    }
  }
  .text-bloc2-bottom {
    position: relative;
    width: 500px;
    height: 340px;
    margin-top: 4px;
    margin-left: auto;
    line-height: 23px;
    @include respond-below(md) {
      margin-left: 340px;
      width: 390px;
    }
    @include respond-below(sm) {
      margin-right: auto;
      margin-left: auto;
      width: 480px;
    }
  }
  .bloc2-top-title {
    margin-bottom: 44px;
    margin-left: 146px;
    @include respond-below(sm) {
      margin-left: 90px;
    }
    h2 {
      font-size: 39.35px;
      font-family: "Open Sans SemiBold";
      text-decoration: none;
      color: #ffffff;
    }
  }
  .bloc2-bottom-title {
    margin-top: -17px;
    @include respond-below(sm) {
      margin-left: 90px;
    }
    h2 {
      font-size: 39.35px;
      font-family: "Open Sans SemiBold";
      text-decoration: none;
      color: #ffffff;
      margin-left: -8px;
    }
  }
  .bloc2-top-content a {
    font-size: 14px;
    font-family: "Open Sans Regular";
    text-decoration: none;
    color: #ffffff;
  }
  .top-content-1 {
    padding-bottom: 47px;
    display: flex;
    flex-wrap: wrap;
  }
  .bloc2-bottom-content {
    margin-top: 30px;
    a {
      font-size: 14px;
      font-family: "Open Sans Regular";
      text-decoration: none;
      color: #ffffff;
    }
  }
  .download {
    background-color: transparent;
    position: relative;
    font-size: 27.35px;
    border-style: solid;
    border-radius: 7px;
    border-color: #ffffff;
    font-family: "Open Sans SemiBold";
    display: inline-block;
    color: #ffffff;
    width: 202px;
    height: 56px;
    margin-left: 3px;
    margin-top: 47px;
    line-height: 22px;
    @include respond-below(sm) {
      margin-left: 120px;
    }
  }
}
.bloc3 {
  .container {
    padding-top: 161px;
    position: relative;
    padding-bottom: 45px;
  }
  img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .fond {
    position: relative;
    width: 430px;
    height: 430px;
    background: #fdfdfd;
    border-radius: 215px;
    margin: 0 auto;
    @include respond-below(xs) {
      width: 400px;
      height: 350px;
      background: #fdfdfda6;
      border-radius: 10px;
    }
  }
  &-content {
    padding-top: 80px;
    margin-left: 47px;
    position: relative;
    @include respond-below(xs) {
      padding-top: 55px;
      margin-left: 28px;
    }
  }
  .input-border {
    font-family: "Open Sans Regular";
    color: #a5a7ae;
    display: block;
    width: 260px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #d8d8d8;
    margin-left: 33px;
    margin-top: 30px;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: -16px;
  }
  &-content {
    .input-border:nth-child(3) {
      height: 78px;
    }
    textarea {
      resize: none;
      &::placeholder {
        color: #b4adad;
      }
    }
  }
  .button-bloc3 {
    position: absolute;
    height: 71px;
    width: 70px;
    margin-left: 140px;
    margin-top: 45px;
    @include respond-below(xs) {
      margin-top: 25px;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
.main-bottom {
  height: 47px;
  background-color: #43a06d;
  a {
    position: absolute;
    font-family: "Open Sans Regular";
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
    width: 100%;
  }
}
